 **Assignment - Adding the Lat Long for the Neighborhoods in Toronto based on Postcode**

In [145]:
# Import Requests, Pandas and Beutiful Soup 
import pandas as pd
import requests
from bs4 import BeautifulSoup

Step 1 - Use Panda read_html by using the url and reading the table

Step 2 - move the result into dataframe and list top 10 rows that have been read

In [146]:
# Use pandas read_html using the URL to read the first table 
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
#dfs[0]

# Move the table to the df - dataframe 
df=dfs[0]

#df.head(10)

Step 3 - Delete rows where the Borough is 'not assigned'

Step 4 - Update the index to ensure the new dataframe has a consistent index

In [152]:
# Delete rows where Borough = 'Not Assigned'
df1 = df.loc[df["Borough"] != 'Not assigned']
# Fix the index after dropping the 'Not assigned' Boroughs
df1.index = range(len(df1))
#df1.head(10)

Step 5 - Add the logic to update the rows where the 'Neighbourhood' value is 'Not assigned' with the value of the Borough from same row

Note that the Neighbourhood and Borough values for 'Queen's Park' have been updated as expected !

In [153]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
# So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
## This code works like a charm but seeing a caveat 'A Value is trying to be set on a copy of a slice from a Dataframe'

df1.loc[df1['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df1.Borough   
df1.head(2)

/home/jupyterlab/conda/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

  Postcode     Borough     Neighbourhood
0      M3A  North York         Parkwoods
1      M4A  North York  Victoria Village

Step 6 - Combine rows that have same postcode and update the 'Neighbourhood' with values and separate them using 'comma'.

In [154]:
# Combine rows that have same 'Postcode', all the Neighbourhoods in the same zip code to be in the 'Neighbourhood' column separated by comma
df1 = df1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

# Showing the last 50 records
df1.tail(5)

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

Step 7 - # In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [150]:
df1.shape

(103, 3)

**NOTE - There appears to be a problem with the geocoder Module - keep getting the error 'No module named geocoder'**
**Unable to complete this exercise even though following the logic correctly to pass the Postcode and add the Lat long values to the table**

In [162]:
import geocoder
n = 103
for i in range(n):

    print("row:",i)
# Obtain the Postcodes from df1 dataframe
postal_code = df1['Postcode']

  # initialize your variable to None
lat_lng_coords = None
  # loop until you get the coordinates
while(lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code[i]))
lat_lng_coords = g.latlng

latitude.append(lat_lng_coords[0])
longitude.append(lat_lng_coords[1])

ModuleNotFoundError: No module named 'geocoder'